$retina: '(min-resolution: 144dpi), (min-resolution: 1.5dppx)';
$mobile-widths-only: '(max-width: 767px)';
$tablet-widths: '(min-width: 768px)';
$tablet-widths-only: '(min-width: 768px) and (max-width: 1149px)';
$desktop-widths: '(min-width: 1150px)';
$black: #000000;
$white: #ffffff;
$accent: #63d1bb;
$teal: #56c3b2;
$dark-teal: #149080;
$heading-gray: #231f20;
$soft-gray: #444444;
$form-error: #f0b1b1;
$form-gray: #c1c1c1;
$placeholder-gray: #d2d2d2;
$footer-line-gray: #e5e5e5;
$line-gray: #ececec;
$bg-dark-gray: #f1f1f1;
$bg-light-gray: #f9f9f9;
