.catalog {
  background-color: $bg-dark-gray;
}

.catalog__wrapper {
  @include container-fluid();

  padding-top: 71px;
  padding-bottom: 76px;
}

.catalog__title {
  text-align: center;
}

@media #{$tablet-widths} {
  .catalog__wrapper {
    padding-top: 95px;
    padding-bottom: 78px;
  }
}

@media #{$desktop-widths} {
  .catalog__wrapper {
    padding-top: 93px;
    padding-bottom: 101px;
  }
}
